In [3]:
import pandas as pd

In [4]:
cov = pd.read_csv("covid-19.csv")

In [5]:
cov.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [6]:
cov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

What is the region with the highest deaths?

In [7]:
cov[cov['Deaths'] == cov['Deaths'].max()]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.9,11.16,3834677,455582,11.88,Americas

In [8]:
cov[cov['Deaths'] == cov['Deaths'].max()]['Country/Region']

173    US
Name: Country/Region, dtype: object

What is the region with the highest deaths?

In [9]:
cov[cov['Deaths'] == cov['Deaths'].min()]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
19,Bhutan,99,0,86,13,4,0,1,0.0,86.87,0.0,90,9,10.00,South-East Asia
30,Cambodia,226,0,147,79,1,0,4,0.0,65.04,0.0,171,55,32.16,Western Pacific
49,Dominica,18,0,18,0,0,0,0,0.0,100.00,0.0,18,0,0.00,Americas
55,Eritrea,265,0,191,74,2,0,2,0.0,72.08,0.0,251,14,5.58,Africa
59,Fiji,27,0,18,9,0,0,0,0.0,66.67,0.0,27,0,0.00,Western Pacific
68,Greenland,14,0,13,1,1,0,0,0.0,92.86,0.0,13,1,7.69,Europe
69,Grenada,23,0,23,0,0,0,0,0.0,100.00,0.0,23,0,0.00,Americas
75,Holy See,12,0,12,0,0,0,0,0.0,100.00,0.0,12,0,0.00,Europe
94,Laos,20,0,19,1,0,0,0,0.0,95.00,0.0,19,1,5.26,Western Pacific
114,Mongolia,289,0,222,67,1,0,4,0.0,76.82,0.0,287,2,0.70,Western Pacific
130,Papua New Guinea,62,0,11,51,0,0,0,0.0,17.74,0.0,19,43,226.32,Western Pacific
140,Saint Kitts and Nevis,17,0,15,2,0,0,0,0.0,88.24,0.0,17,0,0.00,Americas
141,Saint Lucia,24,0,22,2,0,0,0,0.0,91.67,0.0,23,1,4.35,Americas
142,Saint Vincent and the Grenadines,52,0,39,13,0,0,0,0.0,75.00,0.0,50,2,4.00,Americas
148,Seychelles,114,0,39,75,0,0,0,0.0,34.21,0.0,108,6,5.56,Africa
168,Timor-Leste,24,0,0,24,0,0,0,0.0,0.00,0.0,24,0,0.00,South-East Asia
181,Vietnam,431,0,365,66,11,0,0,0.0,84.69,0.0,384,47,12.24,Western Pacific

In [10]:
cov[cov['Deaths'] == cov['Deaths'].min()]['Country/Region']

19                               Bhutan
30                             Cambodia
49                             Dominica
55                              Eritrea
59                                 Fiji
68                            Greenland
69                              Grenada
75                             Holy See
94                                 Laos
114                            Mongolia
130                    Papua New Guinea
140               Saint Kitts and Nevis
141                         Saint Lucia
142    Saint Vincent and the Grenadines
148                          Seychelles
168                         Timor-Leste
181                             Vietnam
Name: Country/Region, dtype: object

what are the top 5 most country/region of recovered from covid-19

In [12]:
cov['Country/Region'].value_counts().head(5)

Afghanistan    1
Pakistan       1
Nepal          1
Netherlands    1
New Zealand    1
Name: Country/Region, dtype: int64

In [21]:
cov

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

what are the region that covid-19 increased in one week

In [16]:
cov[cov['1 week % increase'] == cov['1 week % increase'].max()]['WHO Region']

130    Western Pacific
Name: WHO Region, dtype: object

how many recovered from covid-19 in all Country/Region